@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

:root {
    --very-dark-gray: hsl(0, 0%, 27%);
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);

    --font-bolder: 700;
    --font-medium: 600;
    --font-light: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    font-weight: var(--font-light);
    background-color: var(--white);
    height: 100vh;

}

body {
    height: 100vh;
    position: relative;
}

h1 {
    color: var(--black);
}
p {
    color: var(--dark-gray);
}
.page-grid-wrapper {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw 12.5vw;
    grid-template-rows: 35vh 35vh 30vh;
}

.page-grid__item.slider__left {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.header-container {
    display: flex;
    margin: 4rem 0 0 5rem;
    align-items: center;
    height: 3rem;
}

.mobile-menu-icon {
    align-self: center;
    vertical-align: middle;
    justify-self: center;
    display: none;
}
.logo-space {
    object-fit: cover;

}
.nav-space {
    display: flex;
    margin: 0 0 0 3rem;
}
.top-nav {
    display: flex;
}
.top-nav .top-nav__links {
    margin-right: 2rem;
    text-transform: lowercase;
    position: relative;
}
.top-nav__links a {
    color: var(--white);
    padding: .5rem;
}

.top-nav__links::before {
    content: "";
    width: 0;
    height: 1px;
    color: var(--white);
    position: absolute;
    border-bottom: 2px solid;
    top: 100%;
    left: 0;
    transform: scaleX(0);
}
.top-nav__links:hover::before {
    width: 100%;
    transform: scaleX(1);
    transition: all .2s;
}

.page-grid__item.slider__right {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;
}

.text-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    padding: 5rem;
    /* line-height: 2; */
}

.text-area h1 {
    font-size: 2rem;
}
.text-area p {
    line-height: 2;
}

.cta-btn {
    cursor: pointer;
    vertical-align: bottom;
}
.cta-btn a {
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.cta-btn a:hover,
.cta-btn a:hover svg path {
    fill: var(--dark-gray);
    color: var(--dark-gray);
    transition: all .2s;
} 
.cta-btn a:not(:hover),
.cta-btn a:not(:hover) svg path {
    fill: var(--black);
    color: var(--black);
    transition: all .2s;
}


.slider-control__btns {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}
.slider-btn__left,
.slider-btn__right {
    background-color: var(--black);
    flex-basis: 6.25vw;
    align-self: center;
    cursor: pointer;
    text-align: center;
    padding: 1.5rem 0 1rem 0;
}

.slider-btn__left img,
.slider-btn__right img {
    height: 20%;
}

.slider-btn__left:hover,
.slider-btn__right:hover {
    background-color: var(--very-dark-gray);
    transition: background-color .2s;
}

.slider-btn__left:not(:hover),
.slider-btn__right:not(:hover) {
    background-color: var(--black);
    transition: background-color .2s;
}
.control__btns__only-mobile {
    align-self: flex-end;
    width: 12.5vw;
}

.page-grid__item.about__img-left {
    grid-column-start: 1;
    grid-column-end: 3;
    object-fit: cover;
    background-image: url(images/image-about-dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-grid__item.about__text {
    grid-column-start: 3;
    grid-column-end: 7;

    padding: 2rem 3rem;
    line-height: 2;
    margin: 0 1rem 0 1rem;
}

.about__text h2 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.page-grid__item.about__img-right {
    grid-column-start: 7;
    grid-column-end: 9;
    object-fit: cover;
    background-image: url(images/image-about-light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*872*/ /*810: ja entra o mobile*/
@media screen and (max-width: 1025px) and (orientation: landscape) {
    
    .text-area {
        padding: 2.5rem;
    }

    .page-grid__item.about__text {
        padding: 0 2rem;
        align-self: center;
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width: 850px) {
    
    .desktop-only {
        display: none;
    }
    .page-grid-wrapper {
        grid-template-columns: 100vw;
        grid-template-rows: repeat(18, 100px);
    }


    .page-grid__item.slider__left {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 5;
        position: relative;
    }


.page-grid__item.slider__right {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 8;
}

.page-grid__item.about__img-left {
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 12;
}

.page-grid__item.about__text {
    grid-column-start: 1;
    grid-row-start: 12;
    grid-row-end: 15;
    padding: 0;
}

.page-grid__item.about__img-right {
    grid-column-start: 1;
    grid-row-start: 15;
    grid-row-end: 19;
}

.text-area {
    padding: 0;
}
}








